/* ---------------------------------------------------------------------
 Box
------------------------------------------------------------------------ */

/*doc
---
title: Box
name: box
category: Objects
---

```html_example
  <div class="box"></div>
```

*/


.box {
  padding: 5px;
  border: 1px solid #ccc;
}