/* ---------------------------------------------------------------------
 Heading
------------------------------------------------------------------------ */

/*doc
---
title: Heading
name: heading
category: Objects
---

```html_example

<h1 class="hdg hdg_1">hdg_1. Lorem ipsum dolor sit amet.</h1>
<h2 class="hdg hdg_2">hdg_2. Lorem ipsum dolor sit amet.</h2>
<h3 class="hdg hdg_3">hdg_3. Lorem ipsum dolor sit amet.</h3>
<h4 class="hdg hdg_4">hdg_4. Lorem ipsum dolor sit amet.</h4>
<h5 class="hdg hdg_5">hdg_5. Lorem ipsum dolor sit amet.</h5>
<h6 class="hdg hdg_6">hdg_6. Lorem ipsum dolor sit amet.</h6>

```
*/