/* ---------------------------------------------------------------------
 Label
------------------------------------------------------------------------ */

/*doc
---
title: Label
name: label
category: Objects
---

```html_example
<span class="label">Regular Label</span>
<span class="success round label">success round label</span>

```
*/