/* ---------------------------------------------------------------------
 Panel
------------------------------------------------------------------------ */

/*doc
---
title: Panel
name: panel
category: Objects
---


```html_example

<div class="panel">
  <h5>This is a regular panel.</h5>
  <p>It has an easy to override visual style, and is appropriately subdued.</p>
</div>

```

### Callout / Radius
```html_example
<div class="panel callout radius">
  <h5>This is a callout panel.</h5>
  <p>It's a little ostentatious, but useful for important content.</p>
</div>
```


*/

