static/build/node_modules
static/build/.sass-cache
.DS_STORE
static/.sass-cache
static/node_modules/gulp-autoprefixer/node_modules
static/node_modules

# Ignore IntelliJ files.
.idea
atlassian-ide-plugin.xml