/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */

/*doc
---
title: Grid
name: grid
category: modules
---


```html_example
      
<!-- Grid -->
<div class="grid">
	<div class="grid-col_twoThirds">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, maxime, nisi, voluptate, consequatur expedita voluptatum tempore cum voluptatem quaerat asperiores necessitatibus laudantium officia excepturi cupiditate ipsa quisquam repellendus ea animi?
	</div>
	<div class="grid-col_oneThird">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, maxime, nisi, voluptate, consequatur expedita voluptatum tempore cum voluptatem quaerat asperiores necessitatibus laudantium officia excepturi cupiditate ipsa quisquam repellendus ea animi?
	</div>


</div>
      
```
*/

.grid { width: 100%; }

.grid:before,
.grid:after {
  display: table;
  content: "";
}
.grid:after {
  clear: both;
}

.grid-col {
	
}

.grid-col_twoThirds {
	width: 66.66%;
}
.grid-col_oneThird {
	width: 33.33%;
}
.grid-col_oneHalf {
	width: 50%;
}
.grid-col_oneFourth  {
	width: 25%;
}
.grid-col_oneEighth{
	width: 12.5%;
}
