/* ---------------------------------------------------------------------
 Block Grid
------------------------------------------------------------------------ */

/*doc
---
title: Block Grid
name: block-grid
category: Objects
---


```html_example
      
<!-- Grid -->
<ul class="small-block-grid-4">
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
</ul>
      
```
```html_example

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
  <li><img class="th" src="//placekitten.com/300/200"></li>
</ul>
```

*/