/* ---------------------------------------------------------------------
 Box
------------------------------------------------------------------------ */

/*doc
---
title: Box
name: box
category: Objects
---

```html_example
  <div class="box"></div>
  <div class="box box_light"></div>

```

*/


.box {
  padding: 5px;
  border: 1px solid #ccc;
}

.box_opaqueLight{
  background: hsla(0,0%,100%,.8);
}