/* ---------------------------------------------------------------------
 Pagination
------------------------------------------------------------------------ */

/*doc
---
title: Pagination
name: pagination
category: Objects
---


```html_example
      
<h2 class="element-invisible">Pages</h2><div class="item-list"><ul class="pager"><li class="pager-first first"><a title="Go to first page" href="/admin/appearance/styleguide?page=0%2C0">« first</a></li>
<li class="pager-previous"><a title="Go to previous page" href="/admin/appearance/styleguide?page=0%2C7">‹ previous</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-item"><a title="Go to page 5" href="/admin/appearance/styleguide?page=0%2C4">5</a></li>
<li class="pager-item"><a title="Go to page 6" href="/admin/appearance/styleguide?page=0%2C5">6</a></li>
<li class="pager-item"><a title="Go to page 7" href="/admin/appearance/styleguide?page=0%2C6">7</a></li>
<li class="pager-item"><a title="Go to page 8" href="/admin/appearance/styleguide?page=0%2C7">8</a></li>
<li class="pager-current">9</li>
<li class="pager-item"><a title="Go to page 10" href="/admin/appearance/styleguide?page=0%2C9">10</a></li>
<li class="pager-item"><a title="Go to page 11" href="/admin/appearance/styleguide?page=0%2C10">11</a></li>
<li class="pager-item"><a title="Go to page 12" href="/admin/appearance/styleguide?page=0%2C11">12</a></li>
<li class="pager-item"><a title="Go to page 13" href="/admin/appearance/styleguide?page=0%2C12">13</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-next"><a title="Go to next page" href="/admin/appearance/styleguide?page=0%2C9">next ›</a></li>
<li class="pager-last last"><a title="Go to last page" href="/admin/appearance/styleguide?page=0%2C19">last »</a></li>
</ul></div>

```

*/