/* ---------------------------------------------------------------------
 Thumbnail
------------------------------------------------------------------------ */

/*doc
---
title: Thumbnail
name: thumbnail
category: Objects
---


Basic Thumbnail

```html_example
<a class="th" href="//placekitten.com/300/200">
  <img src="//placekitten.com/300/200">
</a>
```

```html_example
<a class="th radius" href="//placekitten.com/300/200">
  <img src="//placekitten.com/300/200">
</a>
```
*/

.th_noDecoration {
  border: none;
  box-shadow: none;
}