/* ---------------------------------------------------------------------
 Triptych
------------------------------------------------------------------------ */

/*doc
---
title: Triptych
name: triptych
category: comp-noah
---


```html_example

<div class="row display">
  <div class="columns">/div>
  <div class="columns"></div>
  <div class="columns"></div>
</div>


```

*/

