/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

/*doc
---
title: Alert
name: alert
category: modules
---
## Blocks 2up

```html_example


```
*/
