/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

/*doc
---
title: Image
name: img
category: modules
---


```html_example
      
<!-- Image -->
<img class="img img_full" src="http://placekitten.com/g/300/300" alt="" />
```
*/

.img {
  max-width: 100%;
}

.img_full {
  width: 100%;
}