/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

/*doc
---
title: Horizontal List
name: hlist
category: modules
---


```html_example
      
<!-- H List -->
<ul class="hList">
  <li class="hList-item">Item1</li>
  <li class="hList-item">Item2</li>
  <li class="hList-item">Item3</li>
  <li class="hList-item">Item4</li>
  <li class="hList-item">Item5</li>
</ul>
<!-- // End H List -->

<!-- H List tight -->
<ul class="hList">
  <li class="hList-item hList-item_tight">Item1</li>
  <li class="hList-item hList-item_tight">Item2</li>
  <li class="hList-item hList-item_tight">Item3</li>
  <li class="hList-item hList-item_tight">Item4</li>
  <li class="hList-item hList-item_tight">Item5</li>
</ul>
<!-- // End H List tight -->

<!-- H List std -->
<ul class="hList">
  <li class="hList-item hList-item_loose">Item1</li>
  <li class="hList-item hList-item_loose">Item2</li>
  <li class="hList-item hList-item_loose">Item3</li>
  <li class="hList-item hList-item_loose">Item4</li>
  <li class="hList-item hList-item_loose">Item5</li>
</ul>
<!-- // End H List std -->

<!-- H List loose -->
<ul class="hList hList_std">
  <li class="hList-item hList-item_std">Item1</li>
  <li class="hList-item hList-item_std">Item2</li>
  <li class="hList-item hList-item_std">Item3</li>
  <li class="hList-item hList-item_std">Item4</li>
  <li class="hList-item hList-item_std">Item5</li>
</ul>
<!-- // End H List loose -->

<!-- H List divided -->
<ul class="hList">
  <li class="hList-item hList-item_divided">Item1</li>
  <li class="hList-item hList-item_divided">Item2</li>
  <li class="hList-item hList-item_divided">Item3</li>
  <li class="hList-item hList-item_divided mix-hList-item_noBorder">Item4</li>
  <li class="hList-item hList-item_divided">Item5</li>
</ul>
<!-- // End H List divided -->
      
```
*/



/* ---------------------------------------------------------------------
 H List
------------------------------------------------------------------------ */
.hList { overflow: hidden; }

.hList > * { float: left; }
.hList-item + .hList-item { margin-left: 12px; }
.hList-item_tight + .hList-item_tight { margin-left: 8px; }
.hList-item_loose + .hList-item_loose { margin-left: 24px; }
.hList-item_std + .hList-item_std { margin-left: 16px; }

.hList-item_divided + .hList-item_divided {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid;
}

.mix-hList-item_noBorder {
  border: none;
}