/* ---------------------------------------------------------------------
 Blog Page
------------------------------------------------------------------------ */

/*doc
---
title: Blog Page
name: Blog Page
category: components
---

```html_example
<div class="row">
  <div class="small-12 columns">
    <h1>Mark Luinenburg Photographs A Winter to Remember at Home for Life</h1>
    <h4 class="post-sub-header">04/12/2014 - 19:59 by Admin</h4>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <p>Home for Life does not have a better friend than photographer Mark Luinenburg, who, since 2000, has donated his time and talent to document our cats and dogs at the sanctuary. He brings our mission to life with his beautiful photos. Read about Mark and see some of his legendary photos of the Home for Life animals from the last several years at the blog dedicated to him here.</p>
  <p>On virtually the only "warm" day we had in January this year, Mark bravely ventured out to Home for Life to capture a winter to remember. The amount of snow and sub-zero temperatures have been unprecedented, conditions we haven't seen in nearly 15 years. See Mark's Picassa album of his favorites from his January 29, 2014 shoot at the sanctuary here and our favorites at the slideshow below</p>
  </div>
  <div class="small-4 columns">
    <img class="content-image" src="http://placekitten.com/300/200" alt="Cat" />
    <h2>Tags:</h2>
    <ul>
      <li><a>Animal Update</a></li>
      <li><a>News</a></li>
      <li><a>Photography</a></li>
    </ul>
  </div>
</div>


```

*/

.content-image{
  margin: 0px auto;
}
.post-sub-header{
  color: #7f8c8d;
  font-style: italic;
}
