/* ---------------------------------------------------------------------
Footer
------------------------------------------------------------------------ */

/*doc
---
title: Footer
name: footer
category: components
---


```html_example

<div class="row globalFooter">
  <div class="small-12 columns">
    <div class="row">
        <div class="medium-4 columns">P.O. Box 847, Stillwater, MN 55082</div>
        <div class="medium-4 columns">T: 1-800-252-5918</div>
        <div class="medium-4 columns"><a href="mailto:info@homeforlife.org">info@homeforlife.org</a></div>
    </div>
    <div class="row">
      <ul class="inline-list">
        <li><a target="_blank" href="https://twitter.com/HFLAnimals" class="webicon twitter small">Tweet us on Twitter</a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/homeforlifesanctuary" class="webicon youtube small">Watch us on YouTube</a></li>
        <li><a target="_blank" href="https://plus.google.com/104230133696484755295/posts" class="webicon googleplus small">+1 us on Google Plus</a></li>
        <li><a target="_blank" href="http://www.pinterest.com/homeforlife/" class="webicon pinterest small">Pin us on Pinterest</a></li>
        <li><a target="_blank" href="https://www.facebook.com/homeforlifeorg" class="webicon facebook small">Like us on Facebook</a></li>
      </ul>
    </div>
  </div>
</div>


```

*/

.globalFooter {
  background-color: $navy;
  color: $white;
  padding: 20px 0px;
  border: none;
  margin-bottom: 0;
  max-width: inherit;
  text-align:center;

  ul {
    margin: 0 auto;
    display: table;
    padding: 10px 0px;
  }

  a {
    color: $blue;
  }
}
