/* ---------------------------------------------------------------------
 Mission
------------------------------------------------------------------------ */

/*doc
---
title: Mission
name: mission
category: components
---

```html_example
<div class="mission">
  <div class="big-12">
    <h2>What Is Third Door?</h2>
    <p>Most shelters and rescues offer two options for animals: adoption or euthanasia. Home for Life offers a third option for cats and dogs who are old, or who have disabilities, health or temperament problems. We created "The Third Door," a new concept in animal rescue and welfare where special animals have options previously unavailable. Home for Life animals enjoy a quality life, where they can be themselves, run and play, and be loved and cherished for as long as they live.</p>
  </div>
</div>
```

*/

.mission{
  background: $current-redish-2;
  padding: 2em;
}

.mission,
.mission h2{
  color: #FFFFFF;
}