/* ---------------------------------------------------------------------
 Mission
------------------------------------------------------------------------ */

/*doc
---
title: Mission
name: mission
category: components
---

```html_example
<div class="mission">
<div class="inner">
  <div class="row">
    <div class="medium-6 columns">
      <h2>What Is The Third Door?</h2>
      <p>Most shelters and rescues offer two options for animals: adoption or euthanasia. Home for Life offers a third option for cats and dogs who are old, or who have disabilities, health or temperament problems. We created "The Third Door," a new concept in animal rescue and welfare where special animals have options previously unavailable. Home for Life animals enjoy a quality life, where they can be themselves, run and play, and be loved and cherished for as long as they live.</p>
    </div>
    <div class="medium-6 columns cta">
      <a href="#" class="button">
        <h3>Learn More</h3>
      </a>
    </div>
  </div>
  </div>
</div>
```

*/

.mission{
  background: #aaa url('http://placekitten.com/1200/400') center center no-repeat;
  color: $white;

  .inner{
    background: rgba(155, 89, 182, .8);
    padding: 2em;
  }

  h2,h3{
    color: $white;
  }

  .cta {
    text-align: center;
    color: $white;
    padding-top: 3em;
  }
}
