/* ---------------------------------------------------------------------
 Pet-Grid
------------------------------------------------------------------------ */

/*doc
---
title: Pet-Grid
name: pet-gird
category: components
---

```html_example
<div class="row">
<div class="large-12 columns">
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li>
    <a>
      <img class="th" src="//placekitten.com/300/200"/>
      <p>Pickles</p>
    </a>
  </li>
  <li>
    <a>
      <img class="th" src="//placekitten.com/300/200"/>
      <p>Gumdrop</p>
    </a>
  </li>
  <li>
    <a>
      <img class="th" src="//placekitten.com/300/200"/>
      <p>Billy</p>
    </a>
  </li>
  <li>
    <a>
      <img class="th" src="//placekitten.com/300/200"/>
      <p>Cap'n Crunch</p>
    </a>
  </li>
  <li>
    <a>
      <img class="th" src="//placekitten.com/300/200"/>
      <p>Shooter</p>
    </a>
  </li>
  <li>
    <a>
      <img class="th" src="//placekitten.com/300/200"/>
      <p>Rimshot</p>
    </a>
  </li>
  <li>
    <a>
      <img class="th" src="//placekitten.com/300/200"/>
      <p>Dexter</p>
    </a>
  </li>
</ul>
</div>
</div>
```

*/
