/* ---------------------------------------------------------------------
 Slideshow
------------------------------------------------------------------------ */

/*doc
---
title: Slideshow
name: slideshow
category: components
---


```html_example
<ul data-orbit
    data-options="animation:fade;
                  pause_on_hover:true;
                  timer:true;
                  animation_speed:900;
                  navigation_arrows:true;
                  captions:false;
                  bullets:false;">

  <li>
  <img src="//placekitten.com/2400/800" alt="slide 1" />
  </li>
  <li class="active">
    <img src="//placekitten.com/2401/800" alt="slide 2" />
  </li>
  <li>
    <img src="//placekitten.com/2402/800" alt="slide 3" />
  </li>
</ul>
```

*/

#featured {
  background: url(../images/foundation/orbit/spinner.gif) center center #f4f4f4 no-repeat;
  height: 300px;
}
#featured img {
  display: none;
}

#featured.orbit {
  background: none;
}
#featured.orbit img {
  display: block;
}