/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
/*doc
---
title: Blocks
name: blocks
category: modules
---


```html_example

<ul class="blocks blocks_2up">
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
</ul>

<ul class="blocks blocks_3up">
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
</ul>

<ul class="blocks blocks_4up">
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
  <li><img src="http://placekitten.com/g/300/300" alt="" /></li>
</ul>

```
*/
.blocks {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin-left: -25%;
}

.blocks > * {
  display: block;
  margin-left: 20%;
  float: left;
}

.blocks_2up > * {
  width: 30%;
}

.blocks_3up > * {
  width: 13.33333%;
}

.blocks_4up > * {
  width: 5%;
}

img {
  width: 100%;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
/*doc
---
title: Horizontal List
name: hlist
category: modules
---


```html_example
      
<!-- H List -->
<ul class="hList">
  <li class="hList-item">Item1</li>
  <li class="hList-item">Item2</li>
  <li class="hList-item">Item3</li>
  <li class="hList-item">Item4</li>
  <li class="hList-item">Item5</li>
</ul>
<!-- // End H List -->

<!-- H List tight -->
<ul class="hList">
  <li class="hList-item hList-item_tight">Item1</li>
  <li class="hList-item hList-item_tight">Item2</li>
  <li class="hList-item hList-item_tight">Item3</li>
  <li class="hList-item hList-item_tight">Item4</li>
  <li class="hList-item hList-item_tight">Item5</li>
</ul>
<!-- // End H List tight -->

<!-- H List std -->
<ul class="hList">
  <li class="hList-item hList-item_loose">Item1</li>
  <li class="hList-item hList-item_loose">Item2</li>
  <li class="hList-item hList-item_loose">Item3</li>
  <li class="hList-item hList-item_loose">Item4</li>
  <li class="hList-item hList-item_loose">Item5</li>
</ul>
<!-- // End H List std -->

<!-- H List loose -->
<ul class="hList hList_std">
  <li class="hList-item hList-item_std">Item1</li>
  <li class="hList-item hList-item_std">Item2</li>
  <li class="hList-item hList-item_std">Item3</li>
  <li class="hList-item hList-item_std">Item4</li>
  <li class="hList-item hList-item_std">Item5</li>
</ul>
<!-- // End H List loose -->

<!-- H List divided -->
<ul class="hList">
  <li class="hList-item hList-item_divided">Item1</li>
  <li class="hList-item hList-item_divided">Item2</li>
  <li class="hList-item hList-item_divided">Item3</li>
  <li class="hList-item hList-item_divided mix-hList-item_noBorder">Item4</li>
  <li class="hList-item hList-item_divided">Item5</li>
</ul>
<!-- // End H List divided -->
      
```
*/
/* ---------------------------------------------------------------------
 H List
------------------------------------------------------------------------ */
.hList {
  overflow: hidden;
}

.hList > * {
  float: left;
}

.hList-item + .hList-item {
  margin-left: 12px;
}

.hList-item_tight + .hList-item_tight {
  margin-left: 8px;
}

.hList-item_loose + .hList-item_loose {
  margin-left: 24px;
}

.hList-item_std + .hList-item_std {
  margin-left: 16px;
}

.hList-item_divided + .hList-item_divided {
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid;
}

.mix-hList-item_noBorder {
  border: none;
}
