.home-blog-list .views-field-field-image {
  float: left;
  margin-right: 10px;
}

.home-blog-list .views-row {
  overflow: hidden;
  margin-bottom: 40px;
}

.home-blog-list .views-field-title {
  font-size: 1.4rem;
  line-height: 1;
}

