/* ---------------------------------------------------------------------
Target Browsers: IE7, IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* Bicubic resizing for non-native sized IMG */
img {
    -ms-interpolation-mode: bicubic;
}

audio, canvas, video {
    display: inline;
    zoom: 1;
}
