/* ---------------------------------------------------------------------
 Text
------------------------------------------------------------------------ */

/*doc
---
title: Text
name: text
category: modules
---


```html_example

<p class="text">Text</p>      


```
*/

.text {

}