/* ---------------------------------------------------------------------
 Table
------------------------------------------------------------------------ */

/*doc
---
title: Table
name: table
category: modules
---


```html_example

<!-- Tables -->
<table class="table">
  <tr class="table-row">
    <th class="table-row-hd">Movie Title</th>
    <th class="table-row-hd">Genre</th>
    <th class="table-row-hd">Year</th>
    <th class="table-row-hd">Gross</th>
  </tr>
  <tr class="table-row">
    <td class="table-row-cell" data-th="Movie Title">Star Wars</td>
    <td class="table-row-cell" data-th="Genre">Adventure, Sci-fi</td>
    <td class="table-row-cell" data-th="Year">1977</td>
    <td class="table-row-cell" data-th="Gross">$460,935,665</td>
  </tr>
  <tr class="table-row">
    <td class="table-row-cell" data-th="Movie Title">Howard The Duck</td>
    <td class="table-row-cell" data-th="Genre">"Comedy"</td>
    <td class="table-row-cell" data-th="Year">1986</td>
    <td class="table-row-cell" data-th="Gross">$16,295,774</td>
  </tr>
  <tr class="table-row">
    <td class="table-row-cell" data-th="Movie Title">American Graffiti</td>
    <td class="table-row-cell" data-th="Genre">Comedy, Drama</td>
    <td class="table-row-cell" data-th="Year">1973</td>
    <td class="table-row-cell" data-th="Gross">$115,000,000</td>
  </tr>
</table>


```
*/

$breakpoint-alpha: 480px;

.table {
    margin: 1em 0;
    min-width: 300px;
}

.table-row {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;  
}

.table-head{
    display: none;  
}

.table-cell {
    display: block; 
}

.table-cell:first-child {
    padding-top: .5em;
}

.table-cell:last-child {
    padding-bottom: .5em;
}

.table-cell:before {
    content: attr(data-th)": ";
    font-weight: bold;
}

// @media (min-width: $breakpoint-alpha) {
//     display: none;
// }
//   th, td {
//     text-align: left;
    
//     @media (min-width: $breakpoint-alpha) {
//       display: table-cell;
//       padding: .25em .5em;
      
//       &:first-child {
//         padding-left: 0;
//       }
      
//       &:last-child {
//         padding-right: 0;
//       }
//     }

//   }
  
  
// }