//A reference to their current "color scheme"
$current-redish-1: #f26151;
$current-redish-2: #f75c4d;
$current-sandy-brown: #e5e0c9;
$current-grey: #eee;
$current-white: #fff;

.medialist {
  list-style:none;
}

@import
  "objects/components/_donate.scss",
  "objects/components/_pet-grid.scss";
