.home-blog-list .views-field-field-image {
  float: left;
  margin-right: 10px;
}

.home-blog-list .views-row {
  overflow: hidden;
  margin-bottom: 40px;
}

.home-blog-list .views-field-title {
  font-size: 1.4rem !important;
  line-height: 1;
}

.row_featuredpet .view-content ul li {
  width: 33%;
  float: left;
  padding: 20px 20px;
}

.row_featuredpet > .block {
  width: 100%;
}

.row_featuredpet > .medium-block-grid-3 li {
  width: 100%;
}

.row_featuredpet .view-content li {
  list-style-type: none ;
}


@media only screen and (max-width: 40em) {
  .row_featuredpet .view-content ul li {
    width: 100%;
  }
}

.not-front .main {
  margin-top: 40px;
  padding-bottom: 100px;
}

.not-front aside .block-menu {
  border-width: 1px;
  background-color: #f4f4f4;
  border-color: gainsboro;
  border-radius: 3px;
  margin-top: 150px;
  padding: 25px;
}