/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

/*doc
---
title: Text Input
name: textbox
category: modules
---


```html_example
      
<input type="text" class="textbox textbox_xs" placeholder="Placeholder" />
<input type="text" class="textbox textbox_sm" placeholder="Placeholder" />
<input type="text" class="textbox textbox_md" placeholder="Placeholder" />
<input type="text" class="textbox textbox_lg" placeholder="Placeholder" />

```
*/



/* ---------------------------------------------------------------------
 H List
------------------------------------------------------------------------ */
.textbox {
    display: inline-block;
    color: #666666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
}

/* input types */
.textbox {
    margin: 0;
    padding: 8px 6px;
    border: 1px solid #bbbbbb;
    -webkit-appearance: none;
}

.textbox:focus {
    border: 1px solid #666666;
}

.textbox_xs { width: 10%; }
.textbox_sm { width: 20%; }
.textbox_md { width: 30%; }
.textbox_lg { width: 40%; }
.textbox_xl { width: 50%; }

/* input states */
.mix-textbox_isDisabled {
    background: #cccccc;
}

.mix-textbox_isError {
    border: 1px solid #ff3333;
    color: #ff3333;
}
