/* ---------------------------------------------------------------------
 Icons
------------------------------------------------------------------------ */

/*doc
---
title: Icons
name: icons
category: Icons
---


```html_example
      
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/account.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/action.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/align.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/aperture.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/arrow-right-angle-thick.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/arrow-right-angle.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/arrow-thick.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/arrow.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/audio-spectrum.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/ban.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bar-chart.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/basket.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/battery.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/beaker.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bell.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bitcoin-address.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bitcoin-block.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bitcoin-transaction.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bitcoin.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bluetooth.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bold.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/book.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bookmark.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/box.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/brain.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/briefcase.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/british-pound.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/browser.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/brush.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bug.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/bullhorn.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/calculator.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/calendar.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/camera-rangefinder.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/camera-slr.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/caret.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/cart.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/chat.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/check.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/chevron.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/circle-check.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/circle-x.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/clock.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/cloud-transfer.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/cloud.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/cloudy.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/code.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/cog.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/collapse.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/comment-square.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/compass.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/contrast.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/copywriting.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/credit-card.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/crop.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/dashboard.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/data-transfer.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/delete.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/dial.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/document.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/dollar.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/double-quote-sans.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/double-quote-serif.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/eject.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/electric.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/elevator.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/ellipses.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/envelope.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/euro.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/excerpt.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/expand.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/external-link.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/eye.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/eyedropper.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/file.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/fire.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/firefly.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/flag.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/flash.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/folder.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/fork.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/fullscreen.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/globe.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/graph.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/grid.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/guides.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/hard-drive.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/headphones.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/heart.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/home.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/image.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/inbox.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/infinity.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/info.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/iphone.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/italic.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/justify.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/key.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/keyboard.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/laptop.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/layers.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/lightbulb.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/lightning-bolt.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/lightning.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/link.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/list-rich.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/list.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/location.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/lock.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/loop-circular.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/loop-square.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/loop.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/magic-wand.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/magnifying-glass.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/map-marker.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/map.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/medal.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/media-play-circle.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/media-skip.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/media-step.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/media.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/medical-cross.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/menu.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/microphone.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/minus.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/monitor.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/moon.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/move.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/musical-note.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/nexus.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/paperclip.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/pen.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/pencil.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/people.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/person.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/pie-chart.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/pin.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/plus.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/power-standby.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/print.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/project.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/pulse.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/puzzle-piece.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/question-mark.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/rainy.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/random.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/reload.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/resize.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/rss-alt.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/rss.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/screwdriver.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/script.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/settings.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/share-boxed.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/share.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/shield.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/signal.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/signpost.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/sort.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/spreadsheet.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/star.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/sun.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/tablet.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/tag.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/tags.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/target.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/task.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/terminal.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/text.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/thermometer.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/thumb.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/tiara.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/timer.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/tint.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/tools.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/transfer.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/trash.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/vertical-align.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/video.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/volume.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/warning.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/wifi.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/wrench.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/x.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/yen.svg" />
<img class="iconic iconic-sm" data-src="./assets/media/icons/svg/zoom.svg" />
```

```html_example
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/account.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/action.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/align.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/aperture.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/arrow-right-angle-thick.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/arrow-right-angle.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/arrow-thick.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/arrow.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/audio-spectrum.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/ban.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bar-chart.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/basket.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/battery.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/beaker.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bell.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bitcoin-address.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bitcoin-block.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bitcoin-transaction.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bitcoin.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bluetooth.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bold.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/book.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bookmark.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/box.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/brain.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/briefcase.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/british-pound.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/browser.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/brush.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bug.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/bullhorn.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/calculator.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/calendar.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/camera-rangefinder.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/camera-slr.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/caret.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/cart.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/chat.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/check.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/chevron.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/circle-check.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/circle-x.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/clock.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/cloud-transfer.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/cloud.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/cloudy.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/code.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/cog.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/collapse.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/comment-square.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/compass.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/contrast.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/copywriting.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/credit-card.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/crop.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/dashboard.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/data-transfer.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/delete.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/dial.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/document.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/dollar.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/double-quote-sans.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/double-quote-serif.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/eject.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/electric.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/elevator.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/ellipses.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/envelope.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/euro.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/excerpt.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/expand.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/external-link.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/eye.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/eyedropper.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/file.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/fire.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/firefly.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/flag.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/flash.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/folder.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/fork.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/fullscreen.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/globe.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/graph.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/grid.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/guides.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/hard-drive.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/headphones.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/heart.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/home.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/image.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/inbox.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/infinity.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/info.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/iphone.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/italic.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/justify.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/key.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/keyboard.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/laptop.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/layers.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/lightbulb.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/lightning-bolt.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/lightning.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/link.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/list-rich.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/list.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/location.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/lock.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/loop-circular.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/loop-square.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/loop.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/magic-wand.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/magnifying-glass.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/map-marker.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/map.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/medal.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/media-play-circle.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/media-skip.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/media-step.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/media.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/medical-cross.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/menu.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/microphone.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/minus.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/monitor.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/moon.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/move.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/musical-note.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/nexus.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/paperclip.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/pen.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/pencil.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/people.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/person.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/pie-chart.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/pin.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/plus.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/power-standby.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/print.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/project.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/pulse.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/puzzle-piece.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/question-mark.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/rainy.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/random.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/reload.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/resize.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/rss-alt.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/rss.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/screwdriver.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/script.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/settings.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/share-boxed.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/share.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/shield.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/signal.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/signpost.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/sort.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/spreadsheet.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/star.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/sun.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/tablet.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/tag.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/tags.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/target.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/task.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/terminal.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/text.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/thermometer.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/thumb.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/tiara.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/timer.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/tint.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/tools.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/transfer.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/trash.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/vertical-align.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/video.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/volume.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/warning.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/wifi.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/wrench.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/x.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/yen.svg" />
<img class="iconic iconic-md" data-src="./assets/media/icons/svg/zoom.svg" />
```

```html_example
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/account.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/action.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/align.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/aperture.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/arrow-right-angle-thick.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/arrow-right-angle.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/arrow-thick.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/arrow.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/audio-spectrum.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/ban.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bar-chart.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/basket.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/battery.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/beaker.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bell.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bitcoin-address.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bitcoin-block.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bitcoin-transaction.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bitcoin.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bluetooth.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bold.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/book.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bookmark.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/box.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/brain.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/briefcase.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/british-pound.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/browser.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/brush.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bug.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/bullhorn.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/calculator.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/calendar.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/camera-rangefinder.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/camera-slr.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/caret.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/cart.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/chat.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/check.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/chevron.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/circle-check.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/circle-x.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/clock.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/cloud-transfer.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/cloud.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/cloudy.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/code.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/cog.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/collapse.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/comment-square.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/compass.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/contrast.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/copywriting.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/credit-card.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/crop.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/dashboard.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/data-transfer.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/delete.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/dial.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/document.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/dollar.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/double-quote-sans.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/double-quote-serif.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/eject.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/electric.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/elevator.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/ellipses.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/envelope.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/euro.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/excerpt.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/expand.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/external-link.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/eye.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/eyedropper.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/file.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/fire.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/firefly.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/flag.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/flash.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/folder.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/fork.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/fullscreen.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/globe.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/graph.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/grid.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/guides.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/hard-drive.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/headphones.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/heart.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/home.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/image.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/inbox.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/infinity.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/info.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/iphone.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/italic.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/justify.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/key.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/keyboard.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/laptop.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/layers.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/lightbulb.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/lightning-bolt.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/lightning.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/link.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/list-rich.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/list.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/location.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/lock.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/loop-circular.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/loop-square.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/loop.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/magic-wand.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/magnifying-glass.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/map-marker.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/map.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/medal.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/media-play-circle.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/media-skip.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/media-step.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/media.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/medical-cross.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/menu.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/microphone.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/minus.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/monitor.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/moon.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/move.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/musical-note.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/nexus.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/paperclip.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/pen.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/pencil.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/people.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/person.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/pie-chart.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/pin.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/plus.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/power-standby.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/print.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/project.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/pulse.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/puzzle-piece.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/question-mark.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/rainy.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/random.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/reload.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/resize.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/rss-alt.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/rss.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/screwdriver.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/script.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/settings.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/share-boxed.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/share.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/shield.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/signal.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/signpost.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/sort.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/spreadsheet.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/star.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/sun.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/tablet.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/tag.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/tags.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/target.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/task.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/terminal.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/text.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/thermometer.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/thumb.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/tiara.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/timer.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/tint.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/tools.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/transfer.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/trash.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/vertical-align.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/video.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/volume.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/warning.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/wifi.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/wrench.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/x.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/yen.svg" />
<img class="iconic iconic-lg" data-src="./assets/media/icons/svg/zoom.svg" />
```
*/

$color: #000;

/* Iconic theme rules. Don't delete! */

@mixin iconic-color($color) {
  fill: $color;
  stroke: $color;
}

/* Hide all icons that are waiting to be injected */
img.iconic {
  display: none;
}

/* Make sure filled and text elements only get fills */
.iconic-property-fill, .iconic-property-text {
  stroke: none !important;
}

/* Make sure stroked elements only get strokes */
.iconic-property-stroke {
  fill: none !important;
}


/* Theme-specific rules */

.iconic * {
  @include iconic-color($color);
}

